body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    }
     
    .bg-image {
    background-image: url("images/theater.png");
    background-color: #47dff0;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    }
     
    .bg-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    }
    .wrapper {
        display: grid;
      }
    
      .cards {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
      }
      .card {
        flex: 0 0 200px;
        margin: 10px;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
      } 
      .card img {
        max-width: 100%;
      }
      .card .text {
        padding: 0 20px 20px;
      }
      .card .text > button {
        background: darkred;
        border: 0;
        color: white;
        padding: 10px;
        width: 100%;
        }
        
        .navbar-nav{
            background-color: rgb(57, 169, 169);
        }